*{
    margin: 0;
    padding: 0;
}
.container{
    width:  100vw;
    background-color: black;
    gap: 10px 16px;
    height: 100vh;
    display: flex;
    /* flex-wrap: wrap;
    /* height: 100vh; */
    /* align-items: center;
    justify-content: center; */
    /*you can use any of the below's for row-grap & column-gap*/
    /* gap: 10px; */ 
    /*gap: 10px 30px*/
    /*row-gap: 10px;
    column-gap: 40px;*/

}
.box{
    width: 200px;
    height: 200px;
    background-color: orange;
    padding: 1rem;
}
.box2{
    /*align-self: center;*/
    order: 1;
}
.box1{
    order: 2;
}